body {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #f07167;
  overflow: hidden;
  position: relative;
  font-family: 'Brush Script MT', cursive;
}

#birthday-cake {
  position: relative;
  top: 50px;
}

#birthday-cake:before {
  content: "";
  position: absolute;
  background-color: #ede0d4;
  width: 400px;
  height: 140px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  box-shadow: inset -2px -5px #e6ccb2;
}

.cake {
  position: absolute;
  background-color: #ddb892;
  width: 350px;
  height: 130px;
  transform: translate(-50%, -60%);
}

.cake:before,
.cake:after,
.middle:before {
  content: "";
  position: absolute;
}

.cake:before,
.middle,
.middle:before {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  width: 350px;
  height: 50px;
}

.cake:before {
  background-color: #ddb892;
  top: 130px;
}

.cake:after {
  background-color: #b08968;
  width: 350px;
  height: 30px;
  top: 50px;
}

.middle {
  background-color: #b08968;
  top: 80px;
  z-index: 1;
}

.middle:before {
  background-color: #ddb892;
  top: -35px;
}

.top {
  position: absolute;
  background-color: #7f5539;
  width: 350px;
  height: 90px;
  border-radius: 50%;
  z-index: 2;
  top: -45px;
  box-shadow: inset -5px -1px #fff, inset -70px 2px rgba(255, 255, 255, .1);
}

.chocs {
  position: absolute;
  width: 55px;
  height: 50px;
  background-color: #7f5539;
  top: 0;
  z-index: 1;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  box-shadow: 49px 20px #7f5539, 98px 25px #7f5539, 147px 30px #7f5539, 196px 25px #7f5539, 245px 20px #7f5539, 295px 0 #7f5539,
    0px 4px #fff, 49px 24px #fff, 98px 29px #fff, 147px 34px #fff, 196px 29px #fff, 245px 24px #fff, 295px 4px #fff;
}

.candles {
  position: absolute;
  width: 30px;
  height: 80px;
  background-color: #0081a7;
  top: -160px;
  left: -20px;
  box-shadow: 50px 20px #0081a7, -50px 20px #0081a7;
  cursor: pointer;
}

.candles:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  background-color: #0081a7;
  border-radius: 50%;
  top: -5px;
  box-shadow: 0 80px #0081a7, -50px 20px #0081a7, -50px 100px #0081a7, 50px 20px #0081a7, 50px 100px #0081a7;
}

.flame, .flame2, .flame3 {
  position: absolute;
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  z-index: 4;
  background-color: rgba(252, 191, 73, .8);
  animation: flame .5s infinite;
}

.flame {
  top: -40px;
}

.flame2 {
  top: -20px;
  left: -50px;
}

.flame3 {
  top: -20px;
  left: 50px;
}

@keyframes flame {
  0%, 25%, 100% { transform: scaleY(1) rotate(-45deg); }
  50%, 75% { transform: scaleY(1.1) rotate(-45deg); }
}

.text {
  position: absolute;
  width: 350px;
  font-size: 36px;
  left: -140px;
  top: -80px;
  z-index: -1;
  transition: .5s ease-in-out;
  opacity: 0;
  color: white;
  text-align: center;
}

.text2 {
  position: absolute;
  font-size: 22px;
  width: 300px;
  top: 105px;
  left: -140px;
  color: white;
  text-align: center;
}

.balloon, .emoji {
  position: absolute;
  font-size: 30px;
  animation: floatDown 4s linear forwards;
}

@keyframes floatDown {
  0% {
    top: -50px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}
